<%= simple_form_for [@category, @budget] do |f|%>
  <div class="apt-form">
    <div class="field">
      <%= f.input :max_limit %>
    </div>
    <%= f.submit 'Set limit', class: 'btn' %>
  </div>
<% end %>
