<%= simple_form_for [@category, @budget], html: {class: 'budget-form'} do |f|%>
    <div class="field">
      <%= f.input :max_limit %>
    </div>
    <%= f.submit 'Set limit', class: 'limit-btn' %>
  </div>
<% end %>
