<div class="content-box" data-controller="categories" >
    <div class="bank-card">
      <%= link_to transactions_url, class: "text-decoration-none" do%>
        <%# <%= image_tag("blank_bank_card.png", alt: "Image Description") %>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= image_tag("front-card2.png", alt: "Image Description") %>
    </div>
    <div class="flip-card-back">
      <%= image_tag("name_bank_card.png", alt: "Image Description") %>
    </div>
  </div>
</div>

    </div>
