<div class="page-content">
  <div class="home-page">
    <%= image_tag("puurse_logo.png", alt: "Image Description", class: "logo-home") %>
    <h2>Empower Your Finances, Shape Your Future with Puurse</h2>
    <div class="buttons-and-image position-relative">
      <div class="buttons d-flex flex-column flex-shrink-0 position-absolute">
        <button class = "h3-button"> <%= link_to 'Manage your Transactions', transactions_path, class: "text-decoration-none" %> </button>
        <button class = "h3-button"> <%= link_to 'Track your Analytics', analytics_path %> </button>
        <button class = "h3-button"> <%= link_to 'View your Cards', transactions_path %> </button>
      </div>
      <img src="https://cdn.dribbble.com/userupload/9471508/file/original-734be9806ad041ddbb1c29536998a043.png?resize=1504x1128" alt="home-page">
    </div>
  </div>
</div>
