
.nav {
  min-height: 100vh;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #F5F5F6;
  border-right: 2px solid #ACACAC;
  color: #404040;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px lightblue;
  position: fixed;
}

.nav-spacer {
  width: 20%;
  min-height: 100vh;
}

.main, .other, .nav-button, p {
  display: inherit;
  flex-direction: column;

}

.main, .other{
  margin-top: 60px;
  margin-bottom: 15px;
}

.logo img {
  width: 85%;
  height: auto;
}



.logo {
  display: flex;
  justify-content: start;
  padding: 0;

  // *{
  //   border: 2px solid red;
  // }
}

.nav-button {
  display: inherit;
  flex-direction: row;
  background-color: #BADFDB;
  margin-block: 2px;
  // margin-inline: 6px;
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
  padding-left: 12px;
  color: #404040;
  padding: 10px;
  width: 100%;
  p {
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 20px;
  }

}

.nav-button:hover {
  background-color: #49BEB7;
  transition-delay: 100ms;
}

.nav-active {
  background-color: #49BEB7;
  transition-delay: 100ms;
}


.profile {

  margin-top: 2rem;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    text-decoration: none;
  }

  span {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #404040;
    font-family: DM Sans;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: fill;

    margin-top: auto;
    border-top: 1px solid #ACACAC;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
