.t-categories {
  display: flex;
  flex-direction: column;

  span {
    opacity: 0.4;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #ff8a5c;
  gap: 0.5rem;
}

.category-input {
  position: absolute;
  transform: scale(0);
}

.category-label {
  border: 2px solid #ff8a5c;
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.2rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-label:hover {
  background-color: #ff8a5c;
  color: white;
  transform: translateY(-4px); /* Slightly lifts the card */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15),
              0 16px 24px rgba(0, 0, 0, 0.15),
              0 24px 36px rgba(0, 0, 0, 0.15);
}

.category-input:checked + .category-label {
  background-color: #ff8a5c;
  color: white;
}

.form-category {
  cursor: pointer;
  color: #ff8a5c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  padding-block: 0.4rem;
  padding-right: 2rem;
  padding-left: 2.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 8px 12px rgba(0, 0, 0, 0.1),
                0 16px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

}

.form-submit {
  font-weight: bold;
  margin-top: 1.5rem;
  background-color: #404040;
  color: #F6F5F5;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 1rem;
}
.form-submit:hover {
  transform: translateY(-4px); /* Slightly lifts the card */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15),
              0 16px 24px rgba(0, 0, 0, 0.15),
              0 24px 36px rgba(0, 0, 0, 0.15);
}
