<div class="transactions" data-categories-target="list">
  <% @transactions.each do |transaction| %>
  <div class="t-card">
    <div class="left">
      <div class="col1">
        <box-icon name='basket' color='#ff8a5c' class="t-icon"></box-icon>
      </div>
      <div class="col2">
        <span><%= transaction[:retailer].capitalize %></span>
        <p><%= transaction[:date] %></p>
      </div>
    </div>


      <div class="col3">
        <%# <box-icon name='calendar' type='solid' color='#ff8a5c' ></box-icon> %>
        <p>£<%= transaction[:amount] %></p>
      </div>

  </div>
  <% end %>
</div>
