<div class="page-content">
<h1>Transactions</h1>
  <div class="content-box">
    <div class="bank-card">
      <%= image_tag("blank_bank_card.png", alt: "Image Description") %>
    </div>
    <p> Budget Categories </p>
    <div class="t-categories">
      <div class="category">
        <box-icon type='solid' name='dashboard' color='#ff8a5c'></box-icon>
      </div>

      <div class="category">
        <box-icon name='restaurant' color='#ff8a5c' ></box-icon>
      </div>

      <div class="category">
        <box-icon type='solid' name='cart' color='#ff8a5c'></box-icon>
      </div>

      <div class="category">
        <box-icon name='calendar-check' type='solid' color='#ff8a5c' ></box-icon>
      </div>

      <div class="category">
        <box-icon type='solid' name='receipt' color='#ff8a5c'></box-icon>
      </div>

      <div class="category">
        <box-icon name='wrench' type='solid' color='#ff8a5c' ></box-icon>
      </div>

    </div>
    <div class="t-info">
      <p>All Transactions</p>
      <div class="budget-info">
        <p>Monthly Total</p>
        <div class="limit">
          (Add Limit PLACEHOLDER FOR BUTTON)
        </div>
      </div>
    </div>
    <div class="transactions">
      <% @transactions.each do |transaction| %>
      <div class="t-card">
        <p><%= transaction[:date] %></p>
        <p><%= transaction[:retailer] %></p>
        <p><%= transaction[:bank] %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
